<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="intro-message">

        <%= render('ribbon', text: "Monte Seu Burger") %>
        <div class="centered">
          <div class="row row-eq-height white-panel">
            <div class="col-md-2 burger-col">
              <br>
              Pão:
              <% @breads.each_with_index do |bread, index| %>
                <div style="margin-top: 5px">
                  <input type="radio" class="custom" name="custom_bread" value="<%= bread.name %>" data-price="<%= bread.price %>" <%= if (index == 0) then checked="checked" end %> > <%= bread.name %> <span class="small-price">(R$<%= bread.price %>)</span>
                </div>
              <% end %>
            </div>
            <div class="col-md-3 burger-col" style="border: solid 1px black; height: 100%;">
              <br>
              Hamburger:
              <% @meats.each do |meat| %>
                <div style="margin-top: 5px">
                  <input type="checkbox" class="custom" value="<%= meat.name %>" data-price="<%= meat.price %>"> <%= meat.name %> <span class="small-price">(R$<%= meat.price %>)</span>
                </div>
              <% end %>
            </div>
            <div class="col-md-2 burger-col" style="border: solid 1px black; height: 100%;">
              <br>
              Molhos:
              <% @sauces.each do |sauce| %>
                <div style="margin-top: 5px">
                  <input type="checkbox" class="custom" value="<%= sauce.name %>" data-price="<%= sauce.price %>"> <%= sauce.name %> <span class="small-price">(R$<%= sauce.price %>)</span>
                </div>
              <% end %>
            </div>
            <div class="col-md-2 burger-col" style="border: solid 1px black; height: 100%;">
              <br>
              Saladas:
              <% @salads.each do |salad| %>
                <div style="margin-top: 5px">
                  <input type="checkbox" class="custom" value="<%= salad.name %>" data-price="<%= salad.price %>"> <%= salad.name %> <span class="small-price">(R$<%= salad.price %>)</span>
                </div>
              <% end %>
            </div>
            <div class="col-md-3 burger-col" style="border: solid 1px black; height: 100%;">
              <br>
              <%= render("cart_icon", name: "custom") %>
              Outros:
              <% @miscs.each do |misc| %>
                <div style="margin-top: 5px">
                  <input type="checkbox" class="custom" value="<%= misc.name %>" data-price="<%= misc.price %>"> <%= misc.name %> <span class="small-price">(R$<%= misc.price %>)</span>
                </div>
              <% end %>
            </div>
            <div id="custom_price" class="price" data-real-price="0">
              R$ 0
            </div>
          </div>
        </div>

        <% @burgers.each do |burger| %>
          <%= render('ribbon', text: burger.name) %>
          <div>
            <div class="centered">
              <div class="row row-eq-height white-panel">
                <div class="col-md-3 burger-col">
                  <img src="<%= asset_path(burger.image) %>" style="height: 100%">
                </div>
                <div class="col-md-4 burger-col" style="border: solid 1px black; height: 100%;">
                  <br>
                  Ingredientes:
                  <ul>
                    <% burger.ingredients.each do |ingredient| %>
                      <li><%= ingredient.name %></li>
                    <% end %>
                  </ul>
                </div>
                <div class="col-md-5 burger-col" style="border: solid 1px black; height: 100%;">
                  <br>
                  Adicionais:
                  <%= render("cart_icon", name: burger.name) %>
                  <% @additionals.each do |additional| %>
                    <div style="margin-top: 5px">
                      <input type="checkbox" class="<%= burger.name %> additional" value="<%= additional.name %>" data-price="<%= additional.price %>"> <%= additional.name %> <span class="small-price">(R$ <%= additional.price %>)</span>
                    </div>
                  <% end %>
                </div>
                <div class="price burger-price" data-price="<%= burger.price %>" data-real-price="<%= burger.price %>">
                  R$ <%= burger.price %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div style="text-align: right; margin-right: 10%">
          <div class="total-price">
            Valor Total: R$ <span id="total_price"></span>
          </div>

          <button class="btn btn-primary" style="margin-top: 10px;">
            Finalizar Pedido
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(function() {
    var price = 0;
    $(".custom:checked").each(function(){
      price += parseFloat($(this).data("price"));
    });
    $("#custom_price").text("R$ "+price);
    $("#custom_price").data("real-price", price);
    updateTotalPrice();

    $(".additional").prop( "checked", false );
  });

  $(".custom").click(function(){
    var price = 0;
    $(".custom:checked").each(function(){
      price += parseFloat($(this).data("price"));
    });
    $("#custom_price").text("R$ "+price);
    $("#custom_price").data("real-price", price);
    updateTotalPrice();
  });

  $(".additional").click(function() {
    var price;
    if($(this).is(":checked"))
    {
      price = parseFloat($(this).data("price"));
    }
    else
    {
      price = 0;
    }

    $(this).parent().siblings().children("input:checked").each(function(){
      price += parseFloat($(this).data("price"));
    });
    var price_div = $(this).closest(".burger-col").next();
    var original_price = parseFloat(price_div.data("price"));
    price_div.html("R$ " + (original_price + price));
    price_div.data("real-price",original_price + price);
    updateTotalPrice();
  });

  $(".qt").change(function() {
    updateTotalPrice();
  });

  function updateTotalPrice() {
    var total = 0;
    $(".price").each(function() {
      var qt = parseInt($(this).prev().find(".qt").val());
      total += parseFloat($(this).data("real-price")) * qt;
    })
    $("#total_price").text(total);
  }


</script>